# Git aliases
alias git-unpushed='git log --branches --not --remotes --no-walk --decorate --oneline'
alias gb='git checkout -b'
alias gfr='git fetch upstream && git rebase upstream/master'
alias git-undo='git reset --soft HEAD~1'

# Generic / Random / Utility
alias repos='cd $REPOS/github.com/'
alias c='clear'
alias afk='pmset displaysleepnow'